//
   Created by manh-cuong on 20.06.16.
extends layout

block header
    //include headerSlider

block content
    .container-fluid.page_title2
        .container
            .col-md-12
                h1 ITUNES API
    .container(ng-controller="iTunesApi")
        .row
            .col-lg-12
                .well
                    form.form-horizontal(ng-submit="submit()", name="appleapi")
                        legend Itunes api Search/Lookup Parameters
                        .form-group
                            label.control-label.col-lg-2 Api-Type:
                            .col-lg-2
                                select.form-control(id="apitype", name="apitype", ng-model="type", ng-change="change()")
                                    option search
                                    option lookup
                        //Search Term==================================================
                        //term
                        .form-group(ng-show="type=='search'")
                            label.control-label.col-lg-2(for="term") Term:
                            .col-lg-4(ng-class="(appleapi.term.$invalid) ? 'has-error' : 'has-success'")
                                input.form-control(type="text", id="term", name="term", ng-model="term",
                                placeholder="Search input", required, ng-change="change()")
                            .col-lg-1
                                .help-tip.pull-right(data-toggle="modal", data-target="#searchTerm")
                            .modal.fade(id="searchTerm", tabindex="-1", role="dialog", aria-labelledby="searchTermLabel")
                                .modal-dialog(role="document")
                                    .modal-content
                                        .modal-header
                                            button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                span(aria-hidden="true") &times;
                                            h4.modal-title(id="searchTermLabel") Term
                                        hr
                                        .modal-body
                                            h5 Description
                                            p.
                                                The URL-encoded text string you want to search for. For example: jack+johnson.
                                            h5 Required
                                            p Y
                                            h5 Values
                                            p.
                                                Any URL-encoded text string. Note: URL encoding replaces spaces with the plus (+)
                                                character and all characters except the following are encoded: letters, numbers, periods (.),
                                                dashes (-), underscores (_), and asterisks (*).
                                        .modal-footer
                                            hr
                                            button.btn.btn-default(type="button", data-dismiss="modal") Close
                        //country
                        .form-group(ng-show="type=='search'")
                            label.control-label.col-lg-2(for="country") Country(ISO):
                            .col-lg-2
                                input.form-control(type="text", id="country", name="country", ng-model="country",
                                placeholder="Country ISO", ng-change="change()")
                            .col-lg-1
                                .help-tip.pull-right(data-toggle="modal", data-target="#searchCountry")
                            .modal.fade(id="searchCountry", tabindex="-1", role="dialog", aria-labelledby="searchCountryLabel")
                                .modal-dialog(role="document")
                                    .modal-content
                                        .modal-header
                                            button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                span(aria-hidden="true") &times;
                                            h4.modal-title(id="searchCountryLabel") Country
                                        hr
                                        .modal-body
                                            h5 Description
                                            p.
                                                The two-letter country code for the store you want to search.
                                                The search uses the default store front for the specified country.
                                                For example: US. The default is US.
                                            h5 Required
                                            p Y
                                            h5 Values
                                            p.
                                                See #[a(target="_blank", href="http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2") ISO_3166-1_alpha-2]
                                                for a list of ISO Country Codes.
                                        .modal-footer
                                            hr
                                            button.btn.btn-default(type="button", data-dismiss="modal") Close
                        //media
                        .form-group(ng-show="type=='search'")
                            label.control-label.col-lg-2(for="media") Media type:
                            .col-lg-2
                                select.form-control(id="media", name='media', ng-model="media", ng-change="change();changeMedia();")
                                    option ----
                                    option(ng-repeat="mediaType in mediaTypes") {{mediaType}}
                            .col-lg-1
                                .help-tip.pull-right(data-toggle="modal", data-target="#searchMedia")
                            .modal.fade(id="searchMedia", tabindex="-1", role="dialog", aria-labelledby="searchMediaLabel")
                                .modal-dialog(role="document")
                                    .modal-content
                                        .modal-header
                                            button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                span(aria-hidden="true") &times;
                                            h4.modal-title(id="searchMediaLabel") Media
                                        hr
                                        .modal-body
                                            h5 Description
                                            p The media type you want to search for. For example: movie. The default is all.
                                            h5 Required
                                            p N
                                            h5 Values
                                            p.
                                                movie, podcast, music, musicVideo, audiobook, shortFilm, tvShow, software, ebook, all
                                        .modal-footer
                                            hr
                                            button.btn.btn-default(type="button", data-dismiss="modal") Close
                        //entity
                        .form-group(ng-show="type=='search'")
                            label.control-label.col-lg-2(for="entity") Entity:
                            .col-lg-2
                                select.form-control(id="entity", name='entity', ng-model="entity", ng-change="change()")
                                    option ----
                                    option(ng-repeat="ent in entities") {{ent}}
                            .col-lg-1
                                .help-tip.pull-right(data-toggle="modal", data-target="#searchEntity")
                            .modal.fade(id="searchEntity", tabindex="-1", role="dialog", aria-labelledby="searchEntityLabel")
                                .modal-dialog(role="document")
                                    .modal-content
                                        .modal-header
                                            button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                span(aria-hidden="true") &times;
                                            h4.modal-title(id="searchEntityLabel") Entity
                                        hr
                                        .modal-body
                                            h5 Description
                                            p.
                                                The type of results you want returned, relative to the specified media type.
                                                For example: movieArtist for a movie media type search.
                                                The default is the track entity associated with the specified media type.
                                            h5 Required
                                            p N
                                            h5 Values
                                            p.
                                                The following entities are available for each media type:
                                            table.table.table-bordered.table-hover
                                                tr(ng-repeat="(key, value) in mediaEntities")
                                                    td.active
                                                        b {{key}}
                                                    td {{value.toString()}}
                                        .modal-footer
                                            hr
                                            button.btn.btn-default(type="button", data-dismiss="modal") Close
                        //attribute
                        .form-group(ng-show="type=='search'")
                            label.control-label.col-lg-2(for="attribute") Attribute:
                            .col-lg-2
                                select.form-control(id="attribute", name='attribute', ng-model="attribute", ng-change="change()")
                                    option ----
                                    option(ng-repeat="attr in attributes") {{attr}}
                            .col-lg-1
                                .help-tip.pull-right(data-toggle="modal", data-target="#searchAttribute")
                            .modal.fade(id="searchAttribute", tabindex="-1", role="dialog", aria-labelledby="searchAttributeLabel")
                                .modal-dialog(role="document")
                                    .modal-content
                                        .modal-header
                                            button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                span(aria-hidden="true") &times;
                                            h4.modal-title(id="searchAttributeLabel") Attribute
                                        hr
                                        .modal-body
                                            h5 Description
                                            p.
                                                The attribute you want to search for in the stores, relative to the specified media type.
                                                For example, if you want to search for an artist by name specify
                                                entity=allArtist&attribute=allArtistTerm. In this example,
                                                if you search for term=maroon, iTunes returns “Maroon 5” in the search results,
                                                instead of all artists who have ever recorded a song with the word “maroon” in the title.
                                                #[br]#[br] The default is all attributes associated with the specified media type.
                                            h5 Required
                                            p N
                                            h5 Values
                                            p.
                                                The following attributes are available for each media type:
                                            table.table.table-bordered.table-hover
                                                tr(ng-repeat="(key, value) in mediaAttributes")
                                                    td.active
                                                        b {{key}}
                                                    td.col-md-4(style="word-wrap: break-word;min-width: 460px;max-width: 460px;") {{value.toString()}}
                                        .modal-footer
                                            hr
                                            button.btn.btn-default(type="button", data-dismiss="modal") Close
                        //limit
                        .form-group(ng-show="type=='search'")
                            label.control-label.col-lg-2(for="limit") Limit:
                            .col-lg-2(ng-class="(appleapi.limit.$invalid) ? 'has-error' : 'has-success'")
                                input.form-control(type="number", id="limit", name="limit", ng-model="limit",
                                placeholder="limit", ng-change="change()", min="1", max="200")
                            .col-lg-1
                                .help-tip.pull-right(data-toggle="modal", data-target="#searchLimit")
                            .modal.fade(id="searchLimit", tabindex="-1", role="dialog", aria-labelledby="searchLimitLabel")
                                .modal-dialog(role="document")
                                    .modal-content
                                        .modal-header
                                            button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                span(aria-hidden="true") &times;
                                            h4.modal-title(id="searchLimitLabel") Limit
                                        hr
                                        .modal-body
                                            h5 Description
                                            p.
                                                The number of search results you want the iTunes Store to return.
                                                For example: 25.The default is 50.
                                            h5 Required
                                            p N
                                            h5 Values
                                            p 1 to 200
                                        .modal-footer
                                            hr
                                            button.btn.btn-default(type="button", data-dismiss="modal") Close
                        //lang
                        .form-group(ng-show="type=='search'")
                            label.control-label.col-lg-2(for="lang") Lang:
                            .col-lg-2
                                select.form-control(id="lang", name="lang", ng-model="lang", ng-change="change()")
                                    option(ng-repeat="val in langArray") {{val}}
                            .col-lg-1
                                .help-tip.pull-right(data-toggle="modal", data-target="#searchLang")
                            .modal.fade(id="searchLang", tabindex="-1", role="dialog", aria-labelledby="searchLangLabel")
                                .modal-dialog(role="document")
                                    .modal-content
                                        .modal-header
                                            button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                span(aria-hidden="true") &times;
                                            h4.modal-title(id="searchLangLabel") Lang
                                        hr
                                        .modal-body
                                            h5 Description
                                            p.
                                                The language, English or Japanese, you want to use when returning
                                                search results. Specify the language using the five-letter codename.
                                                For example: en_us.The default is en_us (English).
                                            h5 Required
                                            p N
                                            h5 Values
                                            p en_us, ja_jp
                                        .modal-footer
                                            hr
                                            button.btn.btn-default(type="button", data-dismiss="modal") Close
                        //version
                        .form-group(ng-show="type=='search'")
                            label.control-label.col-lg-2(for="version") Version:
                            .col-lg-2
                                select.form-control(id="version", name="version", ng-model="version", ng-change="change()")
                                    option(ng-repeat="val in [1,2]") {{val}}
                            .col-lg-1
                                .help-tip.pull-right(data-toggle="modal", data-target="#searchVersion")
                            .modal.fade(id="searchVersion", tabindex="-1", role="dialog", aria-labelledby="searchVersionLabel")
                                .modal-dialog(role="document")
                                    .modal-content
                                        .modal-header
                                            button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                span(aria-hidden="true") &times;
                                            h4.modal-title(id="searchVersionLabel") Version
                                        hr
                                        .modal-body
                                            h5 Description
                                            p.
                                                The search result key version you want to receive back from your search.The default is 2.
                                            h5 Required
                                            p N
                                            h5 Values
                                            p 1, 2
                                        .modal-footer
                                            hr
                                            button.btn.btn-default(type="button", data-dismiss="modal") Close
                        //explicit
                        .form-group(ng-show="type=='search'")
                            label.control-label.col-lg-2(for="explicit") Explicit:
                            .col-lg-2
                                select.form-control(id="explicit", name="explicit", ng-model="explicit", ng-change="change()")
                                    option(ng-repeat="val in ['Yes','No']") {{val}}
                            .col-lg-1
                                .help-tip.pull-right(data-toggle="modal", data-target="#searchExplicit")
                            .modal.fade(id="searchExplicit", tabindex="-1", role="dialog", aria-labelledby="searchExplicitLabel")
                                .modal-dialog(role="document")
                                    .modal-content
                                        .modal-header
                                            button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                span(aria-hidden="true") &times;
                                            h4.modal-title(id="searchExplicitLabel") Explicit
                                        hr
                                        .modal-body
                                            h5 Description
                                            p.
                                                A flag indicating whether or not you want to include explicit content
                                                in your search results.The default is Yes.
                                            h5 Required
                                            p N
                                            h5 Values
                                            p Yes, No
                                        .modal-footer
                                            hr
                                            button.btn.btn-default(type="button", data-dismiss="modal") Close

                        //Lookupoption ==================================================
                        //Ids
                        .form-group(ng-show="type=='lookup'")
                            label.control-label.col-lg-2(for="id") IDs:
                            .col-lg-4
                                input.form-control(type="text", id="id", name="id", ng-model="id",
                                placeholder="IDs", ng-change="change()",
                                ng-disabled="upc || amgArtistId || amgAlbumId || amgVideoId || isbn")
                        //UPCs/EANs
                        .form-group(ng-show="type=='lookup'")
                            label.control-label.col-lg-2(for="upc") UPCs/EANs:
                            .col-lg-4
                                input.form-control(type="text", id="upc", name="upc", ng-model="upc",
                                placeholder="UPCs/EANs", ng-change="change()",
                                ng-disabled="id || amgArtistId || amgAlbumId || amgVideoId || isbn")
                        //amgArtistIDs
                        .form-group(ng-show="type=='lookup'")
                            label.control-label.col-lg-2(for="amgArtistId") AMG Artist IDs:
                            .col-lg-4
                                input.form-control(type="text", id="amgArtistId", name="amgArtistId", ng-model="amgArtistId",
                                placeholder="AMG Artist IDs", ng-change="change()",
                                ng-disabled="upc || id || amgAlbumId || amgVideoId || isbn")
                        //amgAlbumIDs
                        .form-group(ng-show="type=='lookup'")
                            label.control-label.col-lg-2(for="amgAlbumId") AMG Album IDs:
                            .col-lg-4
                                input.form-control(type="text", id="amgAlbumId", name="amgAlbumId", ng-model="amgAlbumId",
                                placeholder="AMG Album IDs", ng-change="change()",
                                ng-disabled="upc || amgArtistId || id || amgVideoId || isbn")
                        //amgVideoIDs
                        .form-group(ng-show="type=='lookup'")
                            label.control-label.col-lg-2(for="amgVideoId") AMG Video IDs:
                            .col-lg-4
                                input.form-control(type="text", id="amgVideoId", name="amgVideoId", ng-model="amgVideoId",
                                placeholder="AMG Video IDs", ng-change="change()",
                                ng-disabled="upc || amgArtistId || amgAlbumId || id || isbn")
                        //isbn
                        .form-group(ng-show="type=='lookup'")
                            label.control-label.col-lg-2(for="isbn") ISBN:
                            .col-lg-4
                                input.form-control(type="text", id="isbn", name="isbn", ng-model="isbn",
                                placeholder="ISBN", ng-change="change()",
                                ng-disabled="upc || amgArtistId || amgAlbumId || amgVideoId || id")
                        br
                        pre {{request}}
                        br
                        .form-group
                            .col-lg-2
                                button.btn.btn-primary(type="submit", id="submit", ng-disabled="submitDisabled") Submit
        .row(ng-show="status != null")
            .col-lg-12
                .well
                    pre(ng-class="(status == 200) ? 'bg-success' : 'bg-danger'").
                        http status code: {{status}}
        .row(ng-show="status != null")
            .col-lg-12
                .well
                    table.table.table-hover.table-hover
                        thead
                            tr
                                th wrapperType
                                th kind
                                th artistId
                                th collectionId
                                th trackId
                                th artistName
                                th collectionName
                                th trackName
                                th artworkUrl100
                                th releaseDate
                                th country
                                th isStreamable
                        tbody
                            tr(ng-repeat="item in data.results")
                                td {{item.wrapperType}}
                                td {{item.kind}}
                                td {{item.hasOwnProperty('artistId') ? item.artistId : ''}}
                                td {{item.hasOwnProperty('collectionId') ? item.collectionId : ''}}
                                td {{item.hasOwnProperty('trackId') ? item.trackId : ''}}
                                td {{item.artistName}}
                                td {{item.collectionName}}
                                td {{item.trackName}}
                                td
                                    div(ng-if="item.hasOwnProperty('artworkUrl100')") #[img(src="{{item.artworkUrl100}}")]
                                    div(ng-if="!item.hasOwnProperty('artworkUrl100')")
                                td {{item.hasOwnProperty('releaseDate') ? item.releaseDate : ''}}
                                td {{item.hasOwnProperty('country') ? item.country : ''}}
                                td {{item.hasOwnProperty('isStreamable') ? item.isStreamable : ''}}
